@media (max-width: 992px) {
    .container {
        width: 90%;
        /* padding: 0px 30px; */
        /* background: rebeccapurple; */
    }

    #nav .mobile_menu {
        display: none;
    }

    #nav .mobile-bar {
        /* background: yellowgreen; */
    }



    #nav .mobile-bar {
        display: block;
        color: var(--neutral-grey);
    }

    #nav .sign_up {
        display: none;
    }

    /*-- ========== BANNER START ==================== --*/


    #banner .container .contains {
        width: 100%;
    }

    #banner .container .contains h4 {
        font-size: 32px;
    }

    #banner {
        /* background: var(--action-error); */
        padding: 30px 0px;
    }

    #banner .container .image {
        padding-top: 35px;
        width: 100%;
        text-align: center;
    }

    #banner .container .image img {
        width: 100%;
    }

    #banner .container .slides {
        /* background: #9fa1b1; */
        margin-top: 35px;
    }

    /*-- ========== BANNER END ==================== --*/


    /*-- ========== CLIENT PART START ==================== --*/


    #client .row {
        margin-top: 16px;
    }

    #client .row .img_container {
        width: 33.33%;
        text-align: center;
    }

    #client .row img {
        padding-top: 20px;
    }

    /*-- ========== CLIENT PART END ==================== --*/



    /*-- ========== CART START ==================== --*/

    #cart .header h4 {
        width: 90%;
        font-size: 30px;
        line-height: 140%;
    }

    #cart .row .cart_1,
    #cart .row .cart_2,
    #cart .row .cart_3 {
        width: 100%;
        margin: 5px 0px;
    }

    /*-- ========== CART END ==================== --*/




    /*-- ========== ADD START ==================== --*/

    #add .add_image {
        /* background: #b9daf5; */
        width: 100%;
    }

    #add .add_contains {
        /* background: #c7e0c9; */
        width: 100%;
        margin-top: 40px;
    }

    #add .add_contains h4 {
        font-weight: 600;
        font-size: 32px;
        line-height: 135%;
    }

    /* #add .add_contains a{
        font-size: 14px;
        padding: 12px 28px;
        background: var(--brand-primary);
        border-radius: 4px;
        margin-top: 32px;
    } */


    /*-- ========== ADD END ==================== --*/


    /*-- ========== Counting START ==================== --*/

    #counting .counting_contains {
        width: 100%;
        margin-right: 0px;
        /* background: #c2f8c5; */
    }

    #counting .counting_contains h4 {
        margin-right: 35px;
        font-size: 32px;
        line-height: 135%;
    }

    #counting .counting_part {
        width: 100%;
        margin-top: 40px;
    }

    #counting .counting_part .child_row {
        /* justify-content: center; */
        align-items: center;
        width: 100%;
        padding-bottom: 30px;
        /* background: #daeeff; */
    }

    #counting .counting_part .parent_row:last-child {
        margin-top: 0px;
    }

    /*-- ========== Counting END ==================== --*/

    /*-- ========== Tutorial part START ==================== --*/
    #tutorial .tutorial_image {
        width: 100%;
        /* background: #cbf5cd; */
        text-align: right;
    }

    #tutorial .tutorial_contains {
        width: 100%;
        /* background: #b9d4eb; */
        margin-top: 40px;
        padding-right: 40px;
    }

    /*-- ========== Tutorial part END ==================== --*/

    /*-- ========== Review part START ==================== --*/

    #review .row .review_image {
        width: 100%;
    }

    #review .row .review_contains {
        width: 100%;
    }

    #review .parent_row1 .child_row1 {
        width: 100%;
    }

    #review .child_row1 .child_image {
        width: 32%;
        /* background: #2194f3; */
        padding: 10px 10px;
    }

    #review .child_row1 .child_image img {
        width: 60%;
    }

    #review .parent_row1 .customers_btn {
        width: 100%;
        padding: 15px;
    }


    /*-- ========== Review part END ==================== --*/



    /*-- ========== Community card2 START ==================== --*/
    #community .community_head {
        /* background: #9bffa2; */
        width: 100%;
    }



    #community .community_head p {
        margin: 0px;
    }

    #community .community_head h4 {
        font-size: 26px;
        line-height: 122%;
        padding-bottom: 12px;
        /* background: #c5e0f7; */
    }

    #community .community_card1,
    #community .community_card2,
    #community .community_card3 {
        /* background: #2194f3; */
        width: 100%;
        margin: 48px 0;
    }

    /*-- ========== Community card2 END ==================== --*/


    /* ========== Demo part START ==================== */

    #demo {
        padding: 0px 0px 80px;
    }

    #demo .demo_parent {
        justify-content: left;
        /* background: #b5ddb8; */
    }
    

    #demo h4 {
        font-size: 34px;
        text-align: left;
        /* background: #bee0fc; */
    }

    #demo .demo_parent a {      
        margin-top: 24px;
    }
    
    
    
    /* ========== Demo part End ==================== */



    /* ========== Footer part Start ====================  */

    #footer .supports {
        /* background: #103e13; */
        width: 100%;
        align-items: baseline;
    }

    #footer .supports ul{
        width: 100%;
        margin-bottom: 40px;
    }

    #footer .supports .email-subscription{
        margin-top: 20px;
    }


    /* ========== Footer part End ====================  */


}